<h3 class="mb-3">🎫 Active Tickets</h3>

<div *ngIf="tickets?.length; else noActive">
  <div class="table-responsive">
    <table class="table table-striped table-bordered align-middle">
      <thead class="table-light">
        <tr>
          <th>Ticket ID</th>
          <th>Vehicle</th>
          <th>Type</th>
          <th>Floor</th>
          <th>Spot</th>
          <th>Parked At</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let t of tickets">
          <td>{{ t.ticketId }}</td>
          <td>{{ t.vehicleNumber }}</td>
          <td>{{ t.allowedType }}</td>
          <td>{{ t.floorId }}</td>
          <td>{{ t.spotId }}</td>
          <td>{{ t.parkedAt | date:'short' }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<ng-template #noActive>
  <div class="alert alert-info">No active tickets found.</div>
</ng-template>